body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff4d79; /* Pink background color */
    background-image: url('spotify-pattern.png'); /* Replace with your pattern image */
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #1e2124; /* Dark background color */
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ffcc00;
    width: 100%;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

section {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as needed */
    box-sizing: border-box;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    height: 315px;
}

footer {
    background-color: #1e2124; /* Dark background color */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
